/* Created by: MariaG
* Created on: April 20, 2022
* This CSS file defines the style for index.php
* ICS2O-Assign-03-PHP-BookCount
*/

#green {
  padding: 40px 20px;
  color: white;
  background-color: #02a968;
  text-align: center;
}

body {
  width: 80%;
  margin: 5% 10%;
}

#blue {
  padding: 30px 20px;
  background-color: #d7f4f9;
  margin-left: 30px;
}

.data-one {
  width: 30%;
}

.data-two {
  width: 60%;
}

p {
  width: 90%;
  margin-left: 5%;
}

img {
  width: 100%;
}

form {
  width: 90%;
  margin-left: 5%;
}

h5 {
  width: 90%;
  margin-left: 5%;
}

#pink {
  padding: 20px;
  background-color: #fee9fb;
  margin-left: 30px;
  margin-top: 30px;
}

iframe {
  border: none;
  background-color: #fdfebb;
  padding: 10px 20px;
  width: 90%;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#orange {
  padding: 20px;
  background-color: #ffe7af;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#margin {
  margin-left: 5%;
}

#small-margin {
  margin-top: -15px;
}

#pink-button {
  border-style: solid;
  border-color: #fcbdf1;
  background-color: #fcbdf1;
  padding: 10px 20px;
}
